
@using SupportTool.Models.ClientInfo
@model List<SupportTool.Models.ClientInfo.Clients>


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is a test details page</h2>


