
@using SupportTool.Models.ClientInfo
@model List<SupportTool.Models.ClientInfo.Clients>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Clients</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Clients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var AllClients in Model)
        {
            <tr>
                <td>@Html.ActionLink(AllClients.ClientName, "Index", "Clients", new { id = AllClients.ClientID}, null)</td>
            </tr>

        }
    </tbody>
</table>



